<div class="header-wrapper"><div class="header-section"><div class="container"><div class="w-layout-grid header-grid"><div id="w-node-_9b48158b-ac5d-34b2-8453-1f224ba41991-e09f0b5d" class="image-wrapper"><img loading="eager" alt="{{ section.settings.image_hp_image_510_x_590px.alt }}" src="{{ section.settings.image_hp_image_510_x_590px | img_url: 'master' }}" class="hero-dashboard">
</div><div class="hero-content-block"><div class="header-wrapper-title"><h1 class="display-heading">
{{ section.settings.text_first_line_white_text }}
</h1>
<h1 class="display-heading shade-blue">
{{ section.settings.text_second_line_gradient_text }}
</h1>
<h1 class="display-heading">
{{ section.settings.text_third_line_white_text }}
</h1>
<div class="header-accent-wrapper"><h1 class="display-heading smaller">
{{ section.settings.text_sub_line_white_text }}
</h1>
</div></div><div class="w-layout-vflex flex-block-2 white"><p class="section-text white">
{{ section.settings.text_context }}
</p>
<div class="button-wrapper"><a href="{{ section.settings.url_button_redirect }}" class="link-block w-inline-block"> <div>{{ section.settings.text_button_cta }}</div><img loading="lazy" src="https://cdn.prod.website-files.com/6782d6446a800be58eeeedba/67939b0bc79766c261f35bc6_cart-icon-white.svg" alt="" class="button-icon"> </a>
</div><div class="w-layout-hflex flex-gap-6 banner-maxed-420"><img id="w-node-_9b48158b-ac5d-34b2-8453-1f224ba419a9-e09f0b5d" loading="lazy" alt="" src="{{ 'shipping-blue.svg' | asset_url }}" class="banner-icon-blue">
<p class="subtext-filter smaller">
{{ section.settings.text_free_shipping_offer_text }}
</p>
</div></div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Homepage-Banner","class":"section_li-hero","settings":[{"id":"image_hp_image_510_x_590px","type":"image_picker","label":"HP Image (510 x 590px)"},{"id":"text_first_line_white_text","type":"text","label":"First Line White Text","default":"THE MOST"},{"id":"text_second_line_gradient_text","type":"text","label":"Second Line Gradient Text","default":"CONVENIENT "},{"id":"text_third_line_white_text","type":"text","label":"Third Line White Text","default":"PROTEIN <br\/>"},{"id":"text_sub_line_white_text","type":"text","label":"Sub Line White Text","default":"IN THE WORLD"},{"id":"text_context","type":"text","label":"Context","default":"Tasty Gummies Loaded with Protein for Muscle Growth, Metabolic Boost, and Speedy Workout Recovery*<br\/>"},{"id":"url_button_redirect","type":"url","label":"Button Redirect"},{"id":"text_button_cta","type":"text","label":"Button CTA","default":"Get Protein Gummies"},{"id":"text_free_shipping_offer_text","type":"text","label":"Free Shipping Offer Text","default":"free shipping on all orders $60+<br\/>"}],"presets":[{"name":"Homepage-Banner","category":"Liquify","blocks":[]}]} {% endschema %}